# Everything is LF
* text eol=lf

# Exceptions from the rule
linefeed-rn.txt text eol=crlf
*.bat text eol=crlf
*.csv text eol=crlf
*.flat text eol=crlf

# Binary files
*.png binary
*.jpg binary
*.gif binary
*.xls binary
*.xlsx binary
*.vdx binary
