<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
       "http://www.w3.org/TR/html4/loose.dtd">
<html>
#set( $dateFormat =  "dd-MMM-yyyy HH:mm:ss:SSS")
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" type="text/css" href="${pathHelper.getPathToBaseDir($testSuite)}/log4testing.css">
	<title>$!testSuite.Name</title>
	<script src="${pathHelper.getPathToBaseDir($testSuite)}/jquery.js"></script>
</head>
<body>
	<h1>$name.format($!testSuite)</h1>
	<table>
		<thead>
			<tr>
				<th colspan="4">Execution Summary</th>
				<th>Child<br/>Suites</th>
				<th colspan="4">Test Cases</th>
				<th colspan="5">Failure Types</th>
				<th colspan="2">Skipped</th>
			</tr>
			<tr>
				<th>Starting Time</th>
				<th>Finishing Time</th>
				<th>Duration<br/>$time.header</th>
				<th>Work<br/>$time.header</th>
				
				<th>All</th>
				
				<th>All</th>
				<th>Passed</th>
				<th>Failed</th>
				<th>Skipped</th>
				
				<th>Functional</th>
				<th>Access</th>
				<th>Performance</th>
				<th>Automation</th>
				<th>Framework</th>
				
				<th>Passed</th>
				<th>Failed</th>
			</tr>
		</thead>
		<tbody>
			<tr class="$testSuite.Status">
				<td>$!testSuite.StartingTime.toString($dateFormat)</td>
				<td>$!testSuite.FinishingTime.toString($dateFormat)</td>
			    <td align="center">$time.format($testSuite.Duration.toPeriod())</td>
			    <td align="center">$time.format($testSuite.Work.toPeriod())</td>
			    
			    <td align="center">$testSuite.NumberOfChildSuites</td>
			    
				<td align="center">$testSuite.NumberOfTestCases</td>
				<td align="center">$testSuite.NumberOfPassedTestCases</td>
				<td align="center">$testSuite.NumberOfFailedTestCases</td>
				<td align="center">$testSuite.NumberOfIgnoredTestCases</td>
				
				<td align="center">$testSuite.NumberOfFunctionallyFailedTestCases</td>
				<td align="center">$testSuite.NumberOfFailedAccessTestCases</td>
				<td align="center">$testSuite.NumberOfFailedPerformanceTestCases</td>
				<td align="center">$testSuite.NumberOfAutomationFailedTestCases</td>
				<td align="center">$testSuite.NumberOfInconclusiveTestCases</td>
				
				<td align="center">$testSuite.NumberOfIgnoredAndPassedTestCases</td>
				<td align="center">$testSuite.NumberOfIgnoredAndFailedTestCases</td>
			</tr>
		</tbody>
	</table>
	#if ($testSuite.TestCases.size() > 0)
		<h3>Test Cases</h3>
		<table>
			<tr>
				<th>Name</th>
				<th>Duration $time.header</th>
				<th>Test Steps</th>
				<th>Comment</th>
				#if ($testSuite.NumberOfIgnoredTestCases > 0)
					<th>Reason for Skipping</th>
				#end	
			</tr>
			#foreach($testCase in $testSuite.TestCases)
			<tr class="$testCase.Status">
				<td><a href="${pathHelper.getPathToBaseDir($testSuite)}/${pathHelper.getPathFromBaseDir($testCase)}">$name.format($testCase)</a></td>
				<td align="center">$time.format($testCase.Duration.toPeriod())</td>
				<td align="center">$testCase.NumberOfTestSteps</td>
				<td align="center">#if($testCase.IgnoredAndPassed)Skipped though successful#end</td>
				#if ($testSuite.NumberOfIgnoredTestCases > 0)
					<td align="center">$!{testCase.IgnoredReason}</td>
				#end
			</tr>
			#end
		</table>
	#end
	 #if ($testSuite.TestSuites.size() > 0)
	  <br/><br/><br/>
	  <h3>Child Suites</h3>
	  <table>
	   <tr>
	    <th colspan="3">Execution Summary</th>
	    <th>Child<br/>Suites</th>
	   	<th colspan="4">Test Cases</th>
	    <th colspan="5">Failure Types</th>
	    <th colspan="2">Skipped</th>
	   </tr>
	   <tr>
	    <th>Name</th>
	    <th>Duration<br/>$time.header</th>
	    <th>Work<br/>$time.header</th>
	    
	    <th>All</th>
	    
		<th>All</th>
		<th>Passed</th>
		<th>Failed</th>
		<th>Skipped</th>
		
		<th>Functional</th>
		<th>Access</th>
		<th>Performance</th>
		<th>Automation</th>
		<th>Framework</th>
		
		<th>Passed</th>
		<th>Failed</th>
	   </tr>
	   
	   #foreach($childSuite in $testSuite.TestSuites)
		<tr class="$childSuite.Status">
		    <td><a href="${pathHelper.getPathToBaseDir($testSuite)}/${pathHelper.getPathFromBaseDir($childSuite)}">$name.format($childSuite)</td>
		    <td align="center">$time.format($childSuite.Duration.toPeriod())</td>
		    <td align="center">$time.format($$childSuite.Work.toPeriod())</td>
		    <td align="center">$childSuite.NumberOfChildSuites</td>
		    
			<td align="center">$childSuite.NumberOfTestCases</td>
			<td align="center">$childSuite.NumberOfPassedTestCases</td>
			<td align="center">$childSuite.NumberOfFailedTestCases</td>
			<td align="center">$childSuite.NumberOfIgnoredTestCases</td>
			
			<td align="center">$childSuite.NumberOfFunctionallyFailedTestCases</td>
			<td align="center">$childSuite.NumberOfFailedAccessTestCases</td>
			<td align="center">$childSuite.NumberOfFailedPerformanceTestCases</td>
			<td align="center">$childSuite.NumberOfAutomationFailedTestCases</td>
			<td align="center">$childSuite.NumberOfInconclusiveTestCases</td>
			
			<td align="center">$childSuite.NumberOfIgnoredAndPassedTestCases</td>
			<td align="center">$childSuite.NumberOfIgnoredAndFailedTestCases</td>
	    </tr>
	   #end
	 </table>
	 #end
</body>
</html>