<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
       "http://www.w3.org/TR/html4/loose.dtd">
<html>
#set( $dateFormat =  "dd-MMM-yyyy HH:mm:ss:SSS")
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>$!testCase.Name</title>
	<link rel="stylesheet" type="text/css" href="${testCase.getTag("HTMLPathToBaseDir")}/log4testing.css">
	<script src="${testCase.getTag("HTMLPathToBaseDir")}/jquery.js"></script>
	<script type="text/javascript">
	
	function changeBtnText(id) {
		var showHideBtn = $("#shbteststepgroup" + id);
		var showText = '[+]';
		var hideText = '[-]';
		if (showHideBtn.text().indexOf(showText) >= 0) {
			showHideBtn.text(hideText);
		} else {
			showHideBtn.text(showText);
		}
	};
	function toggle(id) {
		$("#teststepgroup" + id).toggle();
		changeBtnText(id);
	};
	</script>
</head>
<body>
	<h1>$!testCase.Name</h1>
	
	<h2>Summary</h2>
	<table>
		<thead>
			<tr>
				<th>Starting&nbsp;Time</th>
				<th>Finishing&nbsp;Time</th>
				<th>Duration<br/>$time.header</th>
				<th>Test&nbsp;steps</th>
				<th>Failed</th>
				<th>Error&nbsp;Message</th>
			</tr>
		</thead>
		<tbody>
			<tr class="$testCase.Status">
				<td>$!testCase.StartingTime.toString($dateFormat)</td>
				<td>$!testCase.FinishingTime.toString($dateFormat)</td>
				#set ($duration = $testCase.Duration)
			    <td>$time.format($duration)</td>
				<td>$testCase.NumberOfTestSteps</td>
				<td>#if ($testCase.isFailed()) 1 #else 0 #end</td>
				<td><a href="#teststep$!{testCase.LastFailed.Id}" onClick="$('#ts$!{testCase.LastFailed.Id}').parent().show();$('#ts$!{testCase.LastFailed.Id}').parent().prev().find('h3 a').text('[-]')">$!testCase.LastFailed.ErrorMessage</a></td>
			</tr>
		</tbody>
	</table>
	
	<h2>Test Step Groups</h2>
	<table>
		<tbody>
		#foreach($group in $testCase.TestStepGroups)
			<tr class="$group.Status">
    		#if ("$group.TestSteps.size()" != 0)
				<td colspan="11"><h3>
				<a class="btn small" onClick="toggle($group.Id)" id="shbteststepgroup$group.Id">#if($group.Failed)[-]#else[+]#end</a>
				$group.Name<small> ($group.NumberOfTestSteps test step#if ($group.NumberOfTestSteps > 1)s#end#if ($group.isFailed()), error(s) occurred#end)</small></h3> 
				</td>
			#else 
				<td colspan="11"><h3>$group.Name</h3></td>
			#end			
			</tr>
			#if($group.Failed)
			<tbody id="teststepgroup$group.Id">
			#else
			<tbody id="teststepgroup$group.Id" style="display: none">
			#end
			<tr class="passed">
				<th>Started</th>
				<th>Command</th>
				<th>Element&nbsp;Type</th>
				<th>Element&nbsp;Name</th>
				<th>Data</th>
				<th>Error&nbsp;Message</th>
				<th>Attachments</th>
				<th>Service</th>
				<th>Technical&nbsp;Locator</th>
				<th>Technical Arguments</th>
				<th>Comment</th>
			</tr>
			#foreach($testStep in $group.TestSteps)
    			<tr class="$testStep.Status" id="ts$!{testStep.Id}">
				<td>${testStep.startTimeOffsetSeconds}s</td>
				<td><strong><span id="teststep${testStep.Id}">$!testStep.Command</a></span></strong></td>
				<td>$!testStep.elementType</td>
				<td>$!testStep.elementName</td>
				<td>$!testStep.UsedArguments</td>
				<td>$!testStep.ErrorMessage</td>
				<td>
					#foreach($attachment in $testStep.Attachments)
						&gt;&gt;&nbsp;
						#if (${attachment.FileName})
							<a href="${attachment.FileName}" class="btn small primary" target="_blank">$attachment.Label</a>
						#else
							$attachment.Label
						#end
						<br/>
					#end
				</td>
				<td>$!testStep.Service</td>
				<td>$!testStep.TechnicalLocator</td>
				<td>$!testStep.TechnicalArguments</td>
				<td>$html.format($!testStep.Comment)</td>
			</tr>
			#end
			</tbody>
		#end
		</tbody>
	</table>
</body>
</html>