<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<TestSuite version="2">
	<Name>$html.format($testSuite.Name)</Name>
	<StartTime>$!testSuite.StartingTime</StartTime>
	<EndTime>$!testSuite.FinishingTime</EndTime>
	<Duration>$!testSuite.Duration</Duration>
	<Work>$!testSuite.Work</Work>
	#foreach($testCase in $!testSuite.testCases)	
		#TestCase($testCase)
	#end
	#foreach($testSuite in $!testSuite.testSuites)
		#TestSuite($testSuite)
	#end
</TestSuite>
#macro (TestCase $testCase)
<TestCase>
	<Name>$html.format($testCase.Name)</Name>
	<StartTime>$!testCase.StartingTime</StartTime>
	<EndTime>$!testCase.FinishingTime</EndTime>
	<Duration>$!testCase.Duration</Duration>
	<Status>$!testCase.Status</Status>
	#foreach($group in $testCase.TestStepGroups)
	<TestStepGroup>
		<Name>$html.format($group.Name)</Name>
		<Status>$group.Status</Status>
		#foreach($testStep in $group.TestSteps)
		<TestStep>
			<StartOffsetSeconds>${testStep.startTimeOffsetSeconds}</StartOffsetSeconds>
			<Status>$testStep.Status</Status>
			<Command>$html.format($testStep.Command)</Command>
			<Data>$html.format($testStep.UsedArguments)</Data>
			<ErrorMessage>$html.format($testStep.ErrorMessage)</ErrorMessage>
			<ElementName>$html.format($testStep.elementName)</ElementName>
			<ElementType>$html.format($testStep.elementType)</ElementType>
			<TechnicalLocator>$html.format($testStep.TechnicalLocator)</TechnicalLocator>
			<TechnicalArguments>$html.format($testStep.TechnicalArguments)</TechnicalArguments>
			<IgnoredReason>$html.format($testStep.IgnoredReason)</IgnoredReason>
			<Comment>$html.format($testStep.Comment)</Comment>
			
			#if ("$testStep.Attachments.size()" != 0)
				<Attachments>
					#foreach($attachment in $testStep.Attachments)
					<Attachment>
						<Label>$html.format($attachment.Label)</Label>
						<FileType>$html.format($attachment.FileExtension)</FileType>
						<Content>$html.format($attachment.FileDataAsBase64String)</Content>
					</Attachment>
					#end
				</Attachments>
			#end		
			</TestStep>
		#end
		</TestStepGroup>
	#end
</TestCase>
#end

#macro (TestSuite $testSuite)
	<TestSuite>
	<Name>$html.format($testSuite.Name)</Name>
	#foreach($testCase in $!testSuite.testCases)	
		#TestCase($testCase)
	#end
	#foreach($testSuite in $!testSuite.testSuites)
		#TestSuite($testSuite)
	#end
	</TestSuite>
#end
